DB_NAME=
DB_USER=
DB_PASSWORD=

KEYCLOAK_DB_NAME=
KEYCLOAK_DB_USER=
KEYCLOAK_DB_PASSWORD=

KEYCLOAK_ADMIN=
KEYCLOAK_ADMIN_PASSWORD=
KEYCLOAK_ADMIN_CLIENT_ID=
KEYCLOAK_ADMIN_CLIENT_SECRET=

KEYCLOAK_REALM=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=

GROQ_API_KEY=

# GOOGLE_CLIENT_ID=
# GOOGLE_CLIENT_SECRET=
